.linkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.sizeBig {
  width: 280px;
  height: 56px;
  padding: 14px 24px;
  font-size: 18px;
  border-radius: 24px;
}
.sizeLg {
  width: 208px;
  height: 56px;
  padding: 14px 24px;
  font-size: 18px;
  border-radius: 24px;
}
.sizeMd {
  width: 135px;
  height: 40px;
  font-size: 14px;
  border-radius: 12px;
  letter-spacing: -0.01em;
}
.sizeSm {
  width: 80px;
  height: 40px;
  padding: 6px 16px;
  font-size: 16px;
  border-radius: 12px;
}

/* 기본 보라색 버튼 스타일 */
.variantPrimary {
  background: var(--primary-400);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  transition: all 0.2s ease;
}
.variantPrimary:hover {
  background: var(--primary-100);
  color: var(--white);
  border: 1px solid var(--primary-100);
}

/* 기본 보라색 아웃라인 버튼 스타일 */
.variantPrimary:disabled {
  background-color: var(--gray-300);
  cursor: not-allowed;
  border: none;
}
.variantOutlinePrimary {
  background: var(--white);
  color: var(--primary-400);
  border: 1px solid var(--primary-400);
  font-weight: var(--font-weight-bold);
  transition: all 0.2s ease;
}
.variantOutlinePrimary:hover {
  background: var(--primary-400);
  color: var(--white);
  border: 1px solid var(--primary-400);
}
.variantOutlinePrimary:disabled {
  background-color: var(--white);
  color: var(--gray-300);
  cursor: not-allowed;
  border: 1px solid var(--gray-300);
}

/* 기본 회색 border가 있는 하얀색 버튼 스타일 */
.variantGray {
  background-color: var(--white);
  color: var(--gray-600);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--gray-200);
  transition: all 0.2s ease;
}
.variantGray:hover {
  background-color: var(--white);
  color: var(--primary-100);
}
.variantGray:disabled {
  background-color: var(--gray-300);
  color: var(--white);
  cursor: not-allowed;
  border: none;
}

/* 배경이 컬러 only일때 적용하는 회색 텍스트 버튼 스타일 */
.variantSmallText {
  background: transparent;
  border: none;
  padding: 7.5px;
  color: var(--gray-500);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  gap: 5px;
}
.variantSmallText:hover {
  color: var(--gray-600);
}
.variantSmallText:disabled {
  color: var(--gray-300);
  cursor: not-allowed;
}

/* 배경이 이미지일때 적용하는 border가 있는 하얀색 버튼 스타일 */
.variantWhite {
  background-color: transparent;
  color: var(--white);
  font-weight: var(--font-weight-regular);
  border: 1px solid var(--white);
  transition: all 0.2s ease;
}
.variantWhite:hover {
  background-color: var(--gray-100);
  color: var(--white);
}
.variantWhite:disabled {
  background-color: var(--gray-100);
  color: var(--white);
  cursor: not-allowed;
  border: none;
}

/* 배경이 이미지일때 적용하는 하얀색 텍스트 버튼 스타일 */
.variantSmallWhiteText {
  background: transparent;
  border: none;
  padding: 7.5px;
  color: var(--gray-100);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  gap: 5px;
}
.variantSmallWhiteText:hover {
  color: var(--gray-100);
}
.variantSmallWhiteText:disabled {
  color: var(--gray-300);
  cursor: not-allowed;
}

/* 보라색 텍스트만 있는 버튼 스타일 */
.variantMiddleText {
  background: transparent;
  border: none;
  padding: 7.5px;
  color: var(--primary-400);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  gap: 5px;
}
.variantMiddleText:hover {
  color: var(--primary-100);
}
.variantMiddleText:disabled {
  color: var(--gray-300);
  cursor: not-allowed;
}

/* 아니오, 취소 등에 쓰는 버튼 */
.variantGhost {
  width: 80px;
  height: 40px;
  padding: 6px 16px;
  background-color: var(--white);
  color: var(--gray-300);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.variantGhost:hover {
  color: var(--gray-500);
}

/* 메세지 추가에 쓰는 플러스 버튼 */
.variantCircle {
  width: max-content;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  color: var(--white);
  cursor: pointer;
  background: transparent;
  padding: 0;
  height: auto;
  border-radius: 0;
  transition:
    transform 0.15s ease,
    background-color 0.15s ease;
}
.variantCircle .leftIcon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
.variantCircle .leftIcon svg {
  width: 28px;
  height: 28px;
  color: var(--white);
}
.variantCircle .label {
  white-space: nowrap;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  color: var(--gray-500);
  line-height: 1.2;
  margin-top: 24px;
}
.variantCircle .leftIcon:hover {
  background: var(--gray-400);
}
.variantCircle:active {
  transform: translateY(0);
}
.variantCircle:disabled {
  cursor: not-allowed;
}
.variantCircle:disabled .leftIcon:hover {
  cursor: not-allowed;
  background-color: var(--gray-300);
}

/* 화살표 버튼 */
.variantArrow {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 9999px;
  border: 1px solid var(--gray-200);
  background: var(--white);
  color: var(--gray-800);
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}
.variantArrow:hover {
  background-color: var(--gray-100);
}
