/* Disabled */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.button {
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
}
.sizeBig { 
  width: 280px; 
  height: 56px; 
  padding: 14px 24px; 
  font-size: 18px; 
  border-radius: 24px; 
}
.sizeLg { 
  width: 208px; 
  height: 56px; 
  padding: 14px 24px; 
  font-size: 18px; 
  border-radius: 24px; 
}
.sizeMd { 
  width: 150px; 
  height: 40px; 
  padding: 7px 16px; 
  font-size: 14px; 
  border-radius: 12px; 
}
.sizeSm { 
  width: 80px; 
  height: 40px; 
  padding: 6px 16px; 
  font-size: 16px; 
  border-radius: 12px; 
}
.variantPrimary { 
  background: var(--primary-400); 
  color: var(--white); 
  font-weight: var(--font-weight-bold);
  transition: all 0.2s ease;
}
.variantPrimary:hover { 
  background: var(--primary-100); 
  color: var(--white); 
  border: 1px solid var(--primary-100);
}
.variantOutlinePrimary { 
  background: var(--white); 
  color: var(--primary-400); 
  border: 1px solid var(--primary-400); 
  font-weight: var(--font-weight-bold);
  transition: all 0.2s ease;
}
.variantOutlinePrimary:hover { 
  background: var(--primary-400); 
  color: var(--white); 
  border: 1px solid var(--primary-400); 
}
.variantGray { 
  background-color: var(--white);
  color: var(--gray-600);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--gray-200);
  transition: all 0.2s ease;
}
.variantGray:hover { 
  background-color: var(--white);
  color: var(--primary-100);
}

.variantSmallText {
  background: transparent;
  border: none;
  padding: 7.5px;
  color: var(--gray-500);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  gap: 5px;
}
.variantSmallText:hover {
  color: var(--gray-600);
}
.variantSmallText:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.variantGhost {
  width: 80px;
  height: 40px;
  padding: 6px 16px;
  background-color: var(--white);
  color: var(--gray-300);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.variantGhost:hover {
  color: var(--gray-500);
}

.variantCircle {
  width: 72px;
  height: 72px;
  padding: 0;
  border-radius: 9999px;
  border: none;
  background: var(--gray-600);
  color: var(--white);
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease;
}
.variantCircle:hover {
  background: var(--gray-200);
}
.variantCircle:active {
  transform: translateY(0);
}

.variantArrow {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 9999px;
  border: 1px solid var(--gray-200);
  background: var(--white);
  color: var(--gray-800);
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}
.variantArrow:hover {
  background-color: var(--gray-100);
}