/* 기본 테마 */
.rollingCard {
  --bg: rgba(255, 190, 11, 0.07);
  --accent: #ffbe0b;
  --text-main: #111;
  --emoji-bg: rgba(191, 149, 33, 0.1);
  --emoji-text: #bf9521;
  --numberAuthor: #363537;

  border-radius: 24px;
  font-family: Poppins, 'Pretendard Variable', Pretendard;
  display: flex;
  flex-direction: column;
  gap: 20px;
  aspect-ratio: 1 / 1;
  background-color: var(--bg);
  padding: 24px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
}

.recipient {
  display: flex;
  flex-direction: column;
}
.name {
  color: var(--text-main);
  font-size: 28px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.to {
  color: var(--accent);
  font-size: 16px;
  font-weight: 700;
}

.numberAuthorsWrap {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.profilePhotos {
  display: flex;
  flex-direction: row;
}

.profilePhotos span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 28px;
  height: 28px;
  border-radius: 9999px;
  background-color: var(--white);
  border: 1px solid var(--white);
  margin-left: -8px;
  padding: 0 4px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
}

.plusNum {
  background-color: var(--white);
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-600);
}
.numberAuthor {
  font-weight: 400;
  color: var(--numberAuthor);
  font-size: 16px;
  display: flex;
  align-items: center;
}
.number {
  font-weight: 700;
}

.emojis {
  display: flex;
  gap: 4px;
  flex-grow: 1;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}
.emoji {
  background-color: var(--emoji-bg);
  color: var(--emoji-text);
  border-radius: 9999px;
  padding: 6px 12px;
  font-size: 14px;
}

.yellow {
  --bg: var(--yellow-100);
  --accent: var(--yellow-300);
  --emoji-bg: var(--yellow-200);
  --emoji-text: var(--yellow-400);
}

.orange {
  --bg: #ffe8dc;
  --accent: #fb5607;
  --emoji-bg: #ffd7c3;
  --emoji-text: #c45119;
}

.pink {
  --bg: var(--pink-100);
  --accent: var(--pink-300);
  --emoji-bg: var(--pink-200);
  --emoji-text: var(--pink-400);
}

.purple {
  --bg: var(--purple-100);
  --accent: var(--purple-300);
  --emoji-bg: var(--purple-200);
  --emoji-text: var(--purple-400);
}

.blue {
  --bg: var(--blue-100);
  --accent: var(--blue-300);
  --emoji-bg: var(--blue-200);
  --emoji-text: var(--blue-400);
}
.green {
  --bg: var(--green-100);
  --accent: var(--green-300);
  --emoji-bg: var(--green-200);
  --emoji-text: var(--green-400);
}

.image {
  --text-main: var(--white);
  --bg: var(--gray-700);
  --accent: var(--white);
  --emoji-bg: var(--white-opacity-30);
  --emoji-text: var(--white);
  --numberAuthor: var(--white-opacity-70);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1079px) {
  .rollingCard {
    gap: 20px;
    aspect-ratio: 4 / 3;
  }
}
@media (max-width: 767px) {
  .name {
    font-size: 24px;
  }
  .to {
    font-size: 14px;
  }
}
