.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trigger {
  width: 100%;
  height: 58px;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 20px;
  /* 배경색과 글자색만 부드럽게 변하고, 테두리 두께는 즉시 변경 */
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  appearance: none;
  font-family: inherit;
  color: inherit;
}

.triggerFilled {
  border: 1px solid var(--gray-500);
}

.triggerOpen {
  border: 2px solid var(--gray-500);
  padding: 0 15px;
}

.textPlaceholder,
.textSelected {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
}

.textPlaceholder {
  color: var(--gray-500);
}

.textSelected {
  color: var(--gray-900);
}

.triggerError {
  border: 1px solid var(--error);
  padding: 0 16px;
}

.triggerOpen.triggerError {
  border: 2px solid var(--error);
  padding: 0 15px;
}

.triggerDisabled {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  cursor: not-allowed;
  padding: 0 16px;
}

.triggerDisabled .textPlaceholder,
.triggerDisabled .textSelected,
.triggerDisabled .icon {
  color: var(--gray-400);
  fill: var(--gray-400);
}

.menu {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  padding: 10px 1px;
  margin: 0;

  list-style: none;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

  z-index: 100;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  background-color: var(--white);
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-900);
  transition: background-color 0.2s;
}

.item:hover {
  background-color: var(--gray-100);
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.iconOpen {
  transform: rotate(180deg);
}

.errorMessage {
  margin-top: 4px;
  font-size: 12px;
  color: var(--error);
  line-height: 1.2;
}
