/* 섹션 전체 컨테이너 */
.featureSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

/* 텍스트 박스 */
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

/* POINT 라벨 */
.label {
  margin-bottom: 16px;
  color: var(--primary-300);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: -0.25px;
  display: inline-block;
}

/* 메인 제목 */
.title {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--gray-800);
  margin-bottom: 8px;
}

/* 설명글 */
.description {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  color: var(--gray-600);
}

/* 카드나 이모지 사진 */
.contentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ---- 반응형 (태블릿) ---- */
@media (max-width: 1079px) {
  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }

  .label {
    font-size: 14px;
  }
}

/* --- 반응형 (모바일) --- */
@media (max-width: 767px) {
  .title {
    font-size: 22px;
    margin-bottom: 4px;
  }

  .label {
    font-size: 12px;
  }
}
