.rollingList {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
<<<<<<< HEAD
}

.sectionRollingList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.makeButton {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
=======
  padding: 80px 0;
>>>>>>> 5d01d54 (✨[feat]:post 페이지 구현)
}
