.rollingList {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.sectionRollingList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.makeButton {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}
