/* 기본 테마 */
.rollingCard {
  --bg: rgba(255, 190, 11, 0.07);
  --accent: #ffbe0b;
  --text-main: #111;
  --emoji-bg: rgba(191, 149, 33, 0.1);
  --emoji-text: #bf9521;
  --numberAuthor: #363537;

  border-radius: 24px;
  font-family: Poppins, 'Pretendard Variable', Pretendard;
  display: flex;
  flex-direction: column;
  gap: 16px;
  aspect-ratio: 1 / 1;
  background-color: var(--bg);
  padding: 24px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.rollingCard > * {
  position: relative;
  z-index: 10;
}
.recipient {
  display: flex;
  flex-direction: column;
}
.name {
  color: var(--text-main);
  font-size: 28px;
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.to {
  color: var(--accent);
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}

.emojis {
  display: flex;
  gap: 6px;
  flex-grow: 1;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}
.emoji {
  background-color: var(--emoji-bg);
  color: var(--emoji-text);
  border-radius: 9999px;
  padding: 6px 12px;
  font-size: 14px;
}

.beige {
  --bg: var(--yellow-100);
  --accent: var(--yellow-300);
  --emoji-bg: var(--yellow-200);
  --emoji-text: var(--yellow-400);
}

.orange {
  --bg: #ffe8dc;
  --accent: #fb5607;
  --emoji-bg: #ffd7c3;
  --emoji-text: #c45119;
}

.pink {
  --bg: var(--pink-100);
  --accent: var(--pink-300);
  --emoji-bg: var(--pink-200);
  --emoji-text: var(--pink-400);
}

.purple {
  --bg: var(--purple-100);
  --accent: var(--purple-300);
  --emoji-bg: var(--purple-200);
  --emoji-text: var(--purple-400);
}

.blue {
  --bg: var(--blue-100);
  --accent: var(--blue-300);
  --emoji-bg: var(--blue-200);
  --emoji-text: var(--blue-400);
}
.green {
  --bg: var(--green-100);
  --accent: var(--green-300);
  --emoji-bg: var(--green-200);
  --emoji-text: var(--green-400);
}

.image {
  --text-main: var(--white);
  --bg: var(--gray-700);
  --accent: var(--white);
  --emoji-bg: var(--white-opacity-30);
  --emoji-text: var(--white);
  --numberAuthor: var(--white-opacity-70);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.image:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--gray-800);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 5;
}

@media (max-width: 1079px) {
  .rollingCard {
    gap: 20px;
    aspect-ratio: 4 / 3;
  }
}
@media (max-width: 767px) {
  .name {
    font-size: 24px;
  }
  .to {
    font-size: 14px;
  }
}
