/* Disabled */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.primaryButton {
  width: 280px;
  height: 56px;
  padding: 14px 24px;
  background-color: var(--primary-400);
  color: var(--white);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: 24px;
  transition: all 0.2s ease;
}
.primaryButton:hover {
  background-color: var(--primary-100);
}

.moreButton {
  width: 208px;
  height: 56px;
  background-color: var(--white);
  color: var(--gray-600);
  border-radius: 24px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--gray-200);
}
.moreButton:hover {
  background-color: var(--white);
  color: var(--primary-100);
}

.createButton {
  width: 135px;
  height: 40px;
  padding: 7px 16px;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  border-radius: 12px;
  background-color: var(--white);
  color: var(--primary-400);
  border: 1px solid var(--primary-400);
}
.createButton:hover {
  background-color: var(--primary-400);
  color: var(--white);
}

.smallTxtButton {
  background: transparent;
  border: none;
  padding: 7.5px;
  color: var(--gray-500);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.smallTxtButton:hover {
  color: var(--gray-600);
}
.smallTxtButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.confirmButton {
  width: 80px;
  height: 40px;
  padding: 6px 16px;
  background-color: var(--primary-400);
  color: var(--white);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.confirmButton:hover {
  background-color: var(--primary-100);
}
.notConfirmButton {
  width: 80px;
  height: 40px;
  padding: 6px 16px;
  background-color: var(--white);
  color: var(--gray-300);
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease;
}
.notConfirmButton:hover {
  color: var(--gray-500);
}

.circleIcon {
  width: 72px;
  height: 72px;
  padding: 0;
  border-radius: 9999px;
  border: none;
  background: var(--gray-600);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease;
}
.circleIcon:hover {
  background: var(--gray-200);
}
.circleIcon:active {
  transform: translateY(0);
}

.arrowButton {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 9999px;
  border: 1px solid var(--gray-200);
  background: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-800);
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}
.arrowButton:hover {
  background-color: var(--gray-100);
}