.modal {
  width: 500px;
  max-height: 432px;
  background: var(--white);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  pointer-events: auto;
}

.modalHeader {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  border: none;
  padding: 0;
  gap: 12px;
}

.profile {
  border-radius: 50%;
  object-fit: cover;
  flex: 0 0 auto;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  line-height: 1.1;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}

.nameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.from {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-800);
}

.name {
  font-size: 28px;
  font-weight: var(--font-weight-bold);
  color: var(--gray-800);
}

.date {
  font-size: 12px;
  color: var(--gray-300);
  white-space: nowrap;
  margin-top: 15px;
}

.modalContent {
  width: 436px;
  max-height: 230px;
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  color: var(--gray-600);
  word-break: keep-all;
  white-space: pre-line;
  overflow: auto;
  margin-top: 16px;
}

.actions {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
}
