/* Poppins Font - English */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  unicode-range: U+0020-002F, U+003A-007E;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  unicode-range: U+0020-002F, U+003A-007E;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  unicode-range: U+0020-002F, U+003A-007E;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  unicode-range: U+0020-002F, U+003A-007E;
}

/* Pretendard Font - Korean & Numbers */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  unicode-range:
    U+0030- U+0039,
    U+AC00- U+D7AF;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  unicode-range:
    U+0030- U+0039,
    U+AC00- U+D7AF;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  unicode-range:
    U+0030- U+0039,
    U+AC00- U+D7AF;
}
