.title {
  margin: 0;
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-900);
  line-height: 1.4;
}

.actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.cancelButton {
  background: transparent;
  border: none;
  color: var(--gray-500);
  padding: 0;
  height: auto;
}

.cancelButton:hover {
  opacity: 0.8;
}
