.badge {
  display: inline-flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  letter-spacing: -0.07px;
}

/* 지인 */
.acquaintance {
  background-color: var(--orange-100);
  color: var(--orange-300);
}

/* 동료 */
.colleague {
  background-color: var(--purple-100);
  color: var(--primary-300);
}

/* 가족 */
.family {
  background-color: var(--green-100);
  color: var(--green-300);
}

/* 친구 */
.friend {
  background-color: var(--blue-100);
  color: var(--blue-300);
}
