[type='beige'] {
  --bg: var(--yellow-100);
  --emoji-bg: var(--yellow-200);
  --emoji-text: var(--yellow-400);
  --accent: var(--yellow-300);

  --rb-chip-bg: var(--yellow-200);
  --rb-text: var(--yellow-400);
  --rb-add-bg: var(--yellow-200);
  --rb-icon: var(--yellow-400);
}

[type='purple'] {
  --bg: var(--purple-100);
  --emoji-bg: var(--purple-200);
  --emoji-text: var(--purple-400);
  --accent: var(--purple-300);

  --rb-chip-bg: var(--purple-200);
  --rb-text: var(--purple-400);
  --rb-add-bg: var(--purple-200);
  --rb-icon: var(--purple-400);
}

[type='blue'] {
  --bg: var(--blue-100);
  --emoji-bg: var(--blue-200);
  --emoji-text: var(--blue-400);
  --accent: var(--blue-300);

  --rb-chip-bg: var(--blue-200);
  --rb-text: var(--blue-400);
  --rb-add-bg: var(--blue-200);
  --rb-icon: var(--blue-400);
}

[type='green'] {
  --bg: var(--green-100);
  --emoji-bg: var(--green-200);
  --emoji-text: var(--green-400);
  --accent: var(--green-300);

  --rb-chip-bg: var(--green-200);
  --rb-text: var(--green-400);
  --rb-add-bg: var(--green-200);
  --rb-icon: var(--green-400);
}

[type='image'] {
  --bg: var(--white-opacity-30);
  --emoji-bg: var(--white-opacity-30);
  --emoji-text: var(--white);
  --accent: var(--white);

  --rb-chip-bg: var(--white-opacity-30);
  --rb-text: var(--white);
  --rb-add-bg: var(--white-opacity-30);
  --rb-icon: var(--white);
}

.rollingHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rollingHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.recipient {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.to {
  font-size: 18px;
  color: var(--accent);
  font-weight: var(--font-weight-bold);
  margin-top: 8px;
}

.name {
  font-size: 32px;
  color: var(--header-text, var(--gray-800));
  font-weight: var(--font-weight-semibold);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1.5;
  max-height: 3em;
}

.rollingHeaderBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.rollingButtons {
  display: flex;
  gap: 8px 16px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.emojis {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.moreEmojiWrapper {
  position: relative;
  display: inline-flex;
}

.moreEmoji {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 9999px;

  color: var(--rb-text);
  background-color: var(--rb-chip-bg);
  border: none;
  cursor: pointer;
}

.badgeWidth {
  width: 83px;
  justify-content: center;
}
