.recentRolling {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.RollingCard {
  width: calc(25% - 24px);
}
.buttonWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
@media (max-width: 1079px) {
  .recentRolling {
    gap: 24px;
  }
  .RollingCard {
    width: calc(50% - 12px);
  }
}

@media (max-width: 767px) {
  .RollingCard {
    width: calc(100%);
  }
}
