main {
  min-height: calc(100vh - 64px);
}
/* .contentWrap {
  padding: 80px 0;
}

@media (max-width: 1079px) {
  .contentWrap {
    padding: 48px 0;
  }
}

@media (max-width: 767px) {
  .contentWrap {
    padding: 32px 0;
  }
} */
