.footer {
  padding: 48px 24px;
  background-color: #34344a;
  color: #fff;
}
.footerWrap {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.memberWrap {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-end;
}
.title {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
  text-transform: uppercase;
}
.members {
  display: flex;
  gap: 16px;
}
.member {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .footerWrap {
    flex-direction: column;
  }

  .memberWrap {
    gap: 12px;
    align-items: center;
  }

  .members {
    gap: 12px 16px;
    flex-wrap: wrap;
    justify-content: center;
    width: 220px;
  }
  .member {
    font-size: 14px;
  }
}
