article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 250px;
}

.messageHeader {
  display: flex;
  gap: 16px;
  width: 100%;
  padding-bottom: 10px;
}

.sender {
  width: 100%;
}

.senderWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  width: calc(100% - 72px);
  align-items: flex-start;
}

.from {
  color: var(--accent, var(--gray-800));
  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

.senderName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  color: var(--message-text-primary, var(--gray-800));
}

.messageContent {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  max-height: 6em;
  color: var(--message-text-content, var(--gray-700));
}

.messageFoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: auto;
  min-height: 40px;
}

.data {
  color: var(--message-date, var(--gray-300));
  font-size: 12px;
}

@media (max-width: 767px) {
  article {
    gap: 16px;
  }
}
