.footer {
  padding: 48px 24px;
  background-color: var(--primary-100);
  color: var(--white);
}
.footerWrap {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}
.logoImage {
  height: 30px;
  filter: brightness(0) invert(1);
}
.memberWrap {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-end;
}
.title {
  font-size: 12px;
  font-weight: var(--font-weight-semibold);
  opacity: 0.7;
  text-transform: uppercase;
}
.members {
  display: flex;
  gap: 16px;
}
.member {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
}

@media (max-width: 767px) {
  .footerWrap {
    flex-direction: column;
  }

  .memberWrap {
    gap: 12px;
    align-items: center;
  }

  .members {
    gap: 12px 16px;
    flex-wrap: wrap;
    justify-content: center;
    width: 220px;
  }
  .member {
    font-size: 14px;
  }
}
