[type='yellow'] {
  --emoji-bg: var(--yellow-200);
  --emoji-text: var(--yellow-400);
  --accent: var(--yellow-300);
  --emoji-filter: brightness(0) saturate(100%) invert(58%) sepia(74%)
    saturate(452%) hue-rotate(12deg) brightness(93%) contrast(84%);
}

[type='orange'] {
  --emoji-bg: #ffd7c3;
  --emoji-text: #c45119;
  --emoji-filter: brightness(0) saturate(100%) invert(35%) sepia(85%)
    saturate(1099%) hue-rotate(345deg) brightness(89%) contrast(92%);
  --accent: #fb5607;
}

[type='pink'] {
  --emoji-bg: var(--pink-200);
  --emoji-text: var(--pink-400);
  --emoji-filter: brightness(0) saturate(100%) invert(14%) sepia(87%)
    saturate(5124%) hue-rotate(326deg) brightness(91%) contrast(94%);
  --accent: var(--pink-300);
}

[type='purple'] {
  --emoji-bg: var(--purple-200);
  --emoji-text: var(--purple-400);
  --emoji-filter: brightness(0) saturate(100%) invert(18%) sepia(61%)
    saturate(3665%) hue-rotate(256deg) brightness(90%) contrast(100%);
  --accent: var(--purple-300);
}

[type='blue'] {
  --emoji-bg: var(--blue-200);
  --emoji-text: var(--blue-400);
  --emoji-filter: brightness(0) saturate(100%) invert(26%) sepia(21%)
    saturate(5412%) hue-rotate(199deg) brightness(93%) contrast(92%);
  --accent: var(--blue-300);
}
[type='green'] {
  --emoji-bg: var(--green-200);
  --emoji-text: var(--green-400);
  --emoji-filter: brightness(0) saturate(100%) invert(39%) sepia(45%)
    saturate(553%) hue-rotate(117deg) brightness(96%) contrast(89%);
  --accent: var(--green-300);
}

[type='image'] {
  --emoji-bg: var(--white-opacity-30);
  --emoji-text: var(--white);
  --accent: var(--white);
}

.rollingHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rollingHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.recipient {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.to {
  font-size: 18px;
  color: var(--accent);
  font-weight: var(--font-weight-bold);
  margin-top: 8px;
}

.name {
  font-size: 32px;
  color: var(--gray-800);
  font-weight: var(--font-weight-semibold);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  max-height: 3em;
}

.rollingHeaderBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.rollingButtons {
  display: flex;
  gap: 8px 16px;
  align-items: center;
  flex-wrap: wrap;
}

.rollingButtons button {
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  color: var(--gray-500);
}

.rollingButtons button svg {
  flex-shrink: 0;
}

.emojis {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.emoji {
  padding: 8px 12px;
  border-radius: 9999px;
  color: var(--emoji-text);
  background-color: var(--emoji-bg);
  white-space: nowrap;
}

.moreEmoji,
.addEmoji {
  width: 56px;
  display: flex;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 9999px;
  color: var(--emoji-text);
  background-color: var(--emoji-bg);
}

.moreEmoji svg,
.addEmoji svg {
  filter: var(--emoji-filter);
}
