.modalHeader {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  border: none;
  padding: 0;
}

.profile {
  border-radius: 50%;
  object-fit: cover;
  flex: 0 0 auto;
}

.meta {
  display: flex;
  justify-content: space-between;
  flex: 1;
  line-height: 1.1;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  width: calc(100% - 72px);
}

.nameRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.fromAndBadge {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.from {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-300);
  margin-top: 6px;
}

.name {
  font-size: 28px;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-800);
  white-space: normal;
  width: calc(100% - 57px);
  word-break: break-word;
}

.date {
  font-size: 12px;
  color: var(--gray-300);
  white-space: nowrap;
  margin-top: 6px;
}

.modalContent {
  width: 100%;
  max-height: 200px;
  margin: 0;
  font-size: 17px;
  line-height: 1.7;
  color: var(--gray-600);
  word-break: keep-all;
  white-space: pre-line;
  overflow: auto;
  margin-top: 16px;
}

.actions {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
}

/* 태블릿 전용 스타일 */
@media screen and (max-width: 767px) {
  .modalHeader {
    flex-direction: column;
    gap: 8px;
  }

  .date {
    margin-top: 0;
  }
}
