.checkMark {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: var(--white-opacity-30);
  color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.checkMark svg {
  width: 24px;
  height: 24px;
}
