.postPage {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 88px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  color: var(--gray-900);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.sectionDescription {
  color: var(--gray-500);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.toggleWrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .postPage {
    padding: 48px 24px;
    gap: 40px;
  }

  .sectionTitle {
    font-size: 22px;
  }
}
