.container {
  background-color: var(--primary-400);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 69px;
}
.airplane {
  width: 113px;
  height: 113px;
  fill: white;
}
.desc {
  color: white;
  font-size: 24px;
  font-weight: 500;
  opacity: 0.9;
}
.homeBtn {
  width: 253px;
  height: 52px;
  border-radius: 0;
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  background-color: var(--white);
  color: var(--primary-400);
}
.homeBtn:hover {
  opacity: 0.9;
}